retoure-store-aktivshop/src/main/java/eu/artofcoding/retoure/store/aktivshop/irt01/IRT01.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://irt01.wsbeans.iseries/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://irt01.wsbeans.iseries" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://irt01.wsbeans.iseries">
    <wsdl:documentation>IRT01</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://irt01.wsbeans.iseries/xsd">
            <xs:element name="irt01_XML">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ns:IRT01Input"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="IRT01Input">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_ERG" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_ERGT" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_FNR" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_RGNR" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_SBNR" nillable="true" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="irt01_XMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="irt01">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ns:IRT01Input"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="irt01Response">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:IRT01Result"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="IRT01Result">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_ERG" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_ERGT" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_FNR" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_ID" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_RGNR" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_SBNR" nillable="true" type="xs:decimal"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="irt01Request">
        <wsdl:part name="parameters" element="ns:irt01"/>
    </wsdl:message>
    <wsdl:message name="irt01Response">
        <wsdl:part name="parameters" element="ns:irt01Response"/>
    </wsdl:message>
    <wsdl:message name="irt01_XMLRequest">
        <wsdl:part name="parameters" element="ns:irt01_XML"/>
    </wsdl:message>
    <wsdl:message name="irt01_XMLResponse">
        <wsdl:part name="parameters" element="ns:irt01_XMLResponse"/>
    </wsdl:message>
    <wsdl:portType name="IRT01PortType">
        <wsdl:operation name="irt01">
            <wsdl:input message="tns:irt01Request" wsaw:Action="urn:irt01"/>
            <wsdl:output message="tns:irt01Response" wsaw:Action="urn:irt01Response"/>
        </wsdl:operation>
        <wsdl:operation name="irt01_XML">
            <wsdl:input message="tns:irt01_XMLRequest" wsaw:Action="urn:irt01_XML"/>
            <wsdl:output message="tns:irt01_XMLResponse" wsaw:Action="urn:irt01_XMLResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IRT01Soap11Binding" type="tns:IRT01PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="irt01">
            <soap:operation soapAction="urn:irt01" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="irt01_XML">
            <soap:operation soapAction="urn:irt01_XML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IRT01">
        <wsdl:port name="IRT01HttpSoap11Endpoint" binding="tns:IRT01Soap11Binding">
            <soap:address location="http://62.214.69.250:10010/web/services/IRT01.IRT01HttpSoap11Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>