retoure-store-aktivshop/src/main/java/eu/artofcoding/retoure/store/aktivshop/testws/TESTWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  xmlns:ns="http://testws.wsbeans.iseries/xsd"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://testws.wsbeans.iseries"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  targetNamespace="http://testws.wsbeans.iseries">
    <wsdl:documentation>TESTWS</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://testws.wsbeans.iseries/xsd">
            <xs:element name="testws_XML">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ns:TESTWSInput"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="TESTWSInput">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="_FHLN" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_NNAME" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_VNAME" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="testws_XMLResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testws">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ns:TESTWSInput"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="testwsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ns:TESTWSResult"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="TESTWSResult">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="_FHLN" nillable="true" type="xs:decimal"/>
                    <xs:element minOccurs="0" name="_NNAME" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="_VNAME" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="testws_XMLRequest">
        <wsdl:part name="parameters" element="ns:testws_XML"/>
    </wsdl:message>
    <wsdl:message name="testws_XMLResponse">
        <wsdl:part name="parameters" element="ns:testws_XMLResponse"/>
    </wsdl:message>
    <wsdl:message name="testwsRequest">
        <wsdl:part name="parameters" element="ns:testws"/>
    </wsdl:message>
    <wsdl:message name="testwsResponse">
        <wsdl:part name="parameters" element="ns:testwsResponse"/>
    </wsdl:message>
    <wsdl:portType name="TESTWSPortType">
        <wsdl:operation name="testws_XML">
            <wsdl:input message="tns:testws_XMLRequest" wsaw:Action="urn:testws_XML"/>
            <wsdl:output message="tns:testws_XMLResponse" wsaw:Action="urn:testws_XMLResponse"/>
        </wsdl:operation>
        <wsdl:operation name="testws">
            <wsdl:input message="tns:testwsRequest" wsaw:Action="urn:testws"/>
            <wsdl:output message="tns:testwsResponse" wsaw:Action="urn:testwsResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TESTWSSoap11Binding" type="tns:TESTWSPortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="testws_XML">
            <soap:operation soapAction="urn:testws_XML" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="testws">
            <soap:operation soapAction="urn:testws" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TESTWS">
        <wsdl:port name="TESTWSHttpSoap11Endpoint" binding="tns:TESTWSSoap11Binding">
            <soap:address location="http://as1:10010/web/services/TESTWS.TESTWSHttpSoap11Endpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
